# Env files
backend/.env
frontend/.env
telegram-bot/.env

# Frontend
frontend/node_modules
frontend/dist

# Backend build artifacts
backend/api
telegram-bot/bot

# Browser Extension (kept local)
browser-extension/

# Logs
*.log
.vscode/
